
p {
    font-style: italic;
    font-family: sans-serif;
    margin-left: 2em;
}

hr {
    color: 1px solid yellowgreen;
}

.color {
    color: yellowgreen;
    font-weight: bold;
    font-style: italic;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "header header header"
        "photo content content"
        "footer footer footer";
    text-align: center;
}


#photo {
    border-radius: 15px;
    margin: 15px;
    padding: 0px;
    grid-area: photo;
}

#content {
    border-radius: 15px;
    background-color: #FCFCFC;
    text-align: left;
    margin: 15px;
    padding-left: 5em;
    padding-top: 20%;
    grid-area: content;
}


#copy {
    font-family: 'Bahnschrift', sans-serif;
    font-style: italic;
    opacity: 0.7;
    padding: 5px;
    line-height: 0.4rem;
    grid-area: copy;
    text-align: left;
}
