* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

h2,h4 {
	color: greenyellow;
}

label {
	font-family: 'Verdana', 'Helvetica', sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "content content"
    "footer footer";
  text-align: center;
}
#main {
  background-color: white;
  grid-area: content;
  text-align: left;
  padding: 2rem;
  border-radius: 15px;
  padding-bottom: 20px;
  line-height: 1.5em;
}

#main img {
	height: 20px;
	width: 20px;
}

#pic-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

#pic-table td, #pic-table th {
    text-align: center;
    padding: 8px;
}

#pic-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

#pic-table thead th {
    color: #ffffff;
    background: yellowgreen;
}


#pic-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

#pic-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    #pic-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    #pic-table thead, #pic-table tbody, #pic-table thead th {
        display: block;
    }
    #pic-table thead th:last-child{
        border-bottom: none;
    }
    #pic-table thead {
        float: left;
    }
    #pic-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    #pic-table td, #pic-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    #pic-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    #pic-table tbody tr {
        display: table-cell;
    }
    #pic-table tbody tr:nth-child(odd) {
        background: none;
    }
    #pic-table tr:nth-child(even) {
        background: transparent;
    }
    #pic-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    #pic-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    #pic-table tbody td {
        display: block;
        text-align: center;
    }
}

input[type=number] {
  width: 60%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 15px;
}

input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

button {
  border-radius: 50px;
}
button {
  background-color: yellowgreen;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  font-size: 1.2em;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}
@media screen and (max-width: 300px) {

  button {
    width: 20%;
  }
}
