/* Footer */
footer {
    border-radius: 15px;
    margin: 10px;
    background-color: #BFB7B7;
    grid-area: footer;
    display: grid;
    grid-template-areas:
        "address contact company"
        "copy copy copy";
}

#address {
    grid-area: address;
}

#contact {
    grid-area: contact;
}

#company {
    grid-area: company;
}

#copy {
    font-family: 'Bahnschrift', sans-serif;
    font-style: italic;
    opacity: 0.7;
    padding: 5px;
    line-height: 0.4rem;
    grid-area: copy;
    text-align: left;
}

/* footer > div[id] > div{
    margin: 0;
} */
footer h3 {
    display: inline-block;
    padding-bottom: 15px;
    text-transform: uppercase;
}

footer .cont {
    margin-left: -17%;
    display: inline-block;
    text-align: left;
}

footer .val {
    width: 0.1px;
    text-align: right;
    display: inline-block;
}

footer a:link {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
    color: green;
}

footer a:active {
    text-decoration: underline;
    color: red;
}

footer a:visited {
    text-decoration: none;
}