/* Prereqs */
body, html {
    margin:0;
    padding: 0;
    height: 100%;
    font: bold 14px/1.5 'Courer New';
    background:linear-gradient(65deg, #4cf58a 0%, #8fd3f4 100%); 
    color: black;
}
.grid {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    "header header header"
    "slide slide slide"
    "news content content"
    "news content content"
    "footer footer footer";
    text-align: center;
}
 header {
     margin: 0;
     padding: 0;
     grid-area: header;
 }
 footer{
     grid-area: footer;
 }

#main {
    grid-area: content;
}

#news {
    grid-area: news;
}

.slideShow {
    grid-area: slide;
}

/* Nav Styling */
#logo{
    padding: 2.5vh 0;
    height: 75%;
    background-color: white;
    color: black;
    text-shadow: 2px 2px linear-gradient(65deg, #4cf58a 0%, #8fd3f4 100%);
}
#logo h1{
    margin: 0;
    height: 100%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 3rem;
    background:  linear-gradient(65deg, #4cf58a 0%, #8fd3f4 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#nav-items {
    background-color: white;
    border-bottom: solid 5px #3333;
}
.grid header {
    width: 100%;
    text-align: center;
}
.grid header ul {
    position: relative;
    display: inline-block;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
}

.grid header li {
    float:left;
    position: relative;
}

/* Hover Animation */

.grid header li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #4cf58a;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after {
    width: 100%; 
    left: 0; 
  }

  /* SlideShow */
  .slideShow{
      background-color: rgba(256,256,256,0.7);
      border-radius: 20px;
      margin: 2.5vh 12.5vw;
      height: 50vh;
  }

  /* Main Stuff */
  #news,#main {
      padding-top: 10%;
      background-color: rgba(256,256,256,0.7);
      border-radius: 15px;
      margin: 10px;
  }
  #contact {
      background-color: white;
      height: 15vh;
  }
  #contact * {
      text-transform: uppercase;
      background: linear-gradient(65deg, #4cf58a 0%, #8fd3f4 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }