/* Prereqs */
body, html {
    margin:0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
    color: black;
}
h1,h2,h3,h4 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
fieldset{
    border:0;
}
.grid {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    "header header header"
    "slide slide slide"
    "news content content"
    "news content content"
    "footer footer footer";
    text-align: center;
}
 header {
     margin: 0;
     padding: 0;
     grid-area: header;
 }
 footer{
     grid-area: footer;
 }

#main {
    grid-area: content;
}

#news {
    grid-area: news;
}

  /* SlideShow */
  .slideShow {
      background-color: black;
    grid-area: slide;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    }
    .slide img{
        filter: blur(4px);
        max-width: 70vh;
        min-width: 100%;
        z-index: 1;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }
    .text-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
      }
      #searchText input {
          padding: 12px 20px;
          width: 20vw;
          height: 100%;
          float:left;
          margin: 8px 0;
          border: 1px solid yellowgreen;
          border-radius: 4px;
          transition: width 0.35s ease-in-out;
      }
      #searchText input:focus {
          width: 35vw;
      }
      #searchText h2 {
          color: white;
          text-shadow: 2px 2px 3px black;
      }
/* Nav Styling */
#logo{
    padding: 1vh 0;
    background-color: white;
    color: black;
    border-bottom: solid yellowgreen 1px;
}
#logo h1{
    margin: 0;
    height: 100%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 3rem;
    color: yellowgreen;
}
#nav-items {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: solid 5px #3333;
    padding: 0 20vw;
    z-index: 99;
}
.grid header {
    width: 100%;
    text-align: center;
}
.grid header ul {
    position: relative;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
}

.grid header li {
    float:left;
    position: relative;
}

/* Nav Login */
li[id=login-trigger], #welUser{
    float:right !important;
}
#login-wrapper {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: hidden;
    animation: 0.5s loginpopup;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#login-content{
    width: 50%;
    margin: 15% auto;
}
#login-content [id*='login'] {
    padding: 1em;
}
#login-header{
    background-color: white;
    border: 2px solid black;
    border-bottom: 1px solid #888;    
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
#login-content input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#login-content input[type='submit']{
    color: white;
    background-color: yellowgreen;
}
#login-header h2{
    display: inline;
    color: yellowgreen;
}
#login-header span{
    float:right;
    margin-right: 1em;
    cursor: pointer;
    font-size: 1.5em;
}
#login-body {
    background-color: white;
    border: 2px solid black;
    border-top: none;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
#keepme {
display: inline-block;
width:100%;
}

@keyframes loginpopup {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
/* Hover Animation */
.grid header li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: yellowgreen;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after {
    width: 100%; 
    left: 0; 
  }

  /* Main Stuff */
  #news,#main {
      padding-top: 10%;
      background-color: rgba(256,256,256,0.7);
      border-radius: 15px;
      margin: 10px;
  }
  #contact {
      background-color: white;
      height: 15vh;
  }
  #contact * {
      text-transform: uppercase;
      background: linear-gradient(to right, #dd3e54, #6be585);;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

  /* Animation */
