body, html {
    margin:0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
    color: black;
}
input[type=text], input[type=password] ,input[type=number] , input[type=date] , input[type=e-mail] , textarea{
  width: 60%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 15px;
}
input[type=text]:focus, input[type=password]:focus ,input[type=number]:focus ,input[type=date]:focus , input[type=e-mail]:focus , textarea:focus{
  background-color: #ddd;
  outline: none;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
button {
	border-radius: 50px;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
button {
  background-color: yellowgreen;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
.container {
  padding: 16px;
}
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
.error {
	color: red;
	font-size: 90%;
}

h1,h2,h3,h4 {
    font-family: 'Montserrat', sans-serif;
}
h2 {
	color: yellowgreen;
}
fieldset{
	border-radius: 15px;
  	border: solid 1px;
	border-color: yellowgreen;
  	width: 500px;
  	margin:auto;
  	font-family:'Agency FB', sans-serif;
  	font-size: 1.3em;
	}

.grid {
    display:grid;

    grid-template-areas:
    "header header header"
    "content slide slide"
    "footer footer footer";
    text-align: center;
}
#slide {

}
 header {
     margin: 0;
     padding: 0;
     grid-area: header;
 }
 footer{
 	border-radius: 15px;
    margin: 10px;
 	background-color: #BFB7B7;
    grid-area: footer;
    display:grid;
    grid-template-areas:
    "address contact company"
    "copy copy copy";
 }
 #address {
 	grid-area: address;
 }
 #contact {
 	grid-area: contact;
 }
 #company{
 	grid-area: company;
 }
 #copy {
 	font-family: 'Bahnschrift', sans-serif;
 	font-style: italic;
 	opacity: 0.7;
 	padding: 5px;
 	line-height: 0.4rem;
 	grid-area: copy;
 	text-align: left;
 }
 footer .cont{
  margin-left: -17%;
  display:inline-block;
  text-align:left;
  }

 footer .val{
  width: 0.1px;
  text-align:right;
  display:inline-block;
  }
 footer a:link {
 text-decoration: none;
  color: black;
}
 footer a:hover {
 text-decoration: underline;
  color: green;
}
 footer a:active {
 	text-decoration: underline;
  color: red;
}
 footer a:visited {
 text-decoration: none;
}
#main {
	grid-area: content;
	text-align: left;
	padding-left: 30px;
    grid-area: content;
	padding-top: 0.5%;
	padding-bottom: 1.5%;
    background-color: rgba(256,256,256,0.7);
    border-radius: 15px;
    margin: 10px;
}
#logo{
    padding: 1vh 0;
    background-color: white;
    color: black;
    border-bottom: solid yellowgreen 1px;
}
#logo h1{
    margin: 0;
    height: 100%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 3rem;
    color: yellowgreen;
}
#nav-items {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: solid 5px #3333;
    z-index: 99;
}
.grid header {
    width: 100%;
    text-align: center;
}
.grid header ul {
    position: relative;
    display: inline-block;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
}

.grid header li {
    float:left;
    position: relative;
}

/* Hover Animation */

.grid header li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: yellowgreen;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after {
    width: 100%; 
    left: 0; 
  }

  #slide {
  	background-color: yellowgreen;
  	grid-area: slide;
	padding-left: 30px;
	padding-top: 0.5%;
	padding-bottom: 1.5%;
    border-radius: 15px;
    margin: 10px;
  }
  #slide img {
  	vertical-align: middle;
  }

